.footer-services {
	display: flex;
	justify-content: space-around;
}

.footer-services div {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: start;
    width: 275px;
    margin-bottom: 50px;
}
.footer-services div img {
    max-width: 95px;
}

.footer-services div p {
    font-family: "Rubik", sans-serif;
}

.services {
    background-color:rgb(52,46,46);
    border-radius: 50%;
	height: 10vh;

}
.asked-q{
    display: flex;
}
.blog-section{
   height: 600px ;
}