.footer-services {
	display: flex;
	justify-content: space-between;
}

.services {
    background-color:rgb(52,46,46);
    border-radius: 50%;
	height: 10vh;

}
.asked-q{
    display: flex;
}
.blog-section{
   height: 600px ;
}