
.container-with-nav {
    background-image: url("https://res2.weblium.site/res/60115ce126eea30022ce1a18/601965ec4468a90021f68613_optimized_1920");
    text-align: center;
    background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: auto;
    height: 723px;
}
.container-with-nav > p:first-child {
    color: #c8693a;
    font-family: "Great Vibes";
    font-size: 28px;
    padding-top: 165px;
}
.discover-our-wines {
    color: #fff;
    font-size: 84px;
    font-weight: 400;
    margin-top: 20px;
}
.container-with-nav > .grape-branches {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
p.subtitle {
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 55px;
    margin-top: 20px;
}
div.buttom {
    padding-bottom: 175px;
}
a.orange-button {
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #c8693a;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    border: 3px solid #c8693a;
}
a.orange-button:hover {
    background-color: #af572b;
    color: #000000;
    cursor: pointer;
}
a.clear-button {
    color: #fff;
    background-color: clear;
    border-radius: 3px;
    text-decoration: none;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    display: inline-block;
    border: 3px solid white;
}
a.clear-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

    /* next container */

.container-varieties-of-wine {
    margin-top: auto;
}
.introduction {
    text-align: center;
}
.introduction > p:first-child {
    color: #c8693a;
    font-family: "Great Vibes";
    font-size: 28px;
    padding-top: 110px;
}
.introduction > h3 {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
}
.container-varieties-of-wine > .introduction > .grape-branches {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.illustration {
    width: 1170px;
    height: 534px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.history {
    margin-left: 130px;
    margin-right: 130px;
}
.stage {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 120px;
}
.stage_year {
    color: rgb(200, 105, 58);
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    margin-top: 30px;
}
.stage_name {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Prata', serif;
    margin-top: 20px;
    margin-bottom: 15px;
}
.stage_info {
    color: rgb(137, 128, 130);
    font-family: 'Prata', serif;
    font-size: 16px;
    width: 260px;
    height: 125px;
    margin-top: 15px;
}
#history {
    display: flex;
	justify-content: space-between;
    margin-left: 225px;
    margin-right: 220px;
}
button.orange-button {
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #c8693a;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    border: 3px solid #c8693a;
}
button.orange-button:hover {
    background-color: #af572b;
    color: #000000;
    cursor: pointer;
}
.wine_price {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.wine_name {
    margin-top: 16px;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
