
.container_with_nav {
    background-image: url("https://res2.weblium.site/res/60115ce126eea30022ce1a18/601965ec4468a90021f68613_optimized_1920");
    text-align: center;
}
.container_varieties_of_wine {
    background-color: #261e1c;
}
.container_with_nav > p:first-child {
    color: #c8693a;
    font-family: "Great Vibes";
    font-size: 28px;
}
.discover-our-wines {
    color: #fff;
    font-size: 84px;
    font-weight: 400;
}
.grape-branches {
    display: block;
    margin-left: auto;
    margin-right: auto }
}
.container_with_nav > p:last-child {
    color: white;
    /* font-family: "Great Vibes"; */
    font-size: 18px;
    {