.accorion-heading {
    padding-left: 20px;
}

.next-slide , .container-photo-event{
    display: none;
}


.container-with-nav {
    
    background-image: url("https://res2.weblium.site/res/60115ce126eea30022ce1a18/601965ec4468a90021f68613_optimized_1920");
    text-align: center;
    background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: auto;
    height: 723px;
}
.container-with-nav > p:first-child {
    color: #c8693a;
    font-family: "Great Vibes";
    font-size: 28px;
    padding-top: 165px;
}
.discover-our-wines {
    color: #fff;
    font-size: 84px;
    font-weight: 400;
    margin-top: 20px;
}
.container-with-nav > .grape-branches {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
p.subtitle {
    color: white;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 55px;
    margin-top: 20px;
}
div.buttom {
    padding-bottom: 175px;
}
a.orange-button {
    width: 119px;
    height: 41px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #c8693a;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    border: 3px solid #c8693a;
}
a.orange-button:hover {
    background-color: #af572b;
    color: #000000;
    cursor: pointer;
}
a.clear-button {
    width: 119px;
    height: 41px;
    color: #fff;
    background-color: clear;
    border-radius: 3px;
    text-decoration: none;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid white;
    text-align: center;

}
a.clear-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

    /* next container!! */

.container-varieties-of-wine {
    margin-top: auto;
}
.introduction {
    text-align: center;
}
.introduction > p:first-child {
    color: #c8693a;
    font-family: "Great Vibes";
    font-size: 28px;
    padding-top: 110px;
}
.introduction > h3 {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-top: 20px;
}
.container-varieties-of-wine > .introduction > .grape-branches {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.illustration {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    min-height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#history {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.stage {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 120px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.stage_year {
    color: rgb(200, 105, 58);
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    margin-top: 50px;
}
.stage_name {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Prata', serif;
    margin-top: 20px;
}
.stage_info {
    color: rgb(137, 128, 130);
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: auto;
    height: auto;
    width: 260px;
    height: 125px;
    font-weight: 400;
    line-height: 25.6px;
}
.history {
    display: flex;
	/* justify-content: space-around; */
    margin: auto;
}

@media screen and (max-width: 1175px) {

    .next-slide {
        display: none;
    }
    .history {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #history {
        margin: 0;
    }

    .carousel-products{
        display: none;
    }

    .details {
        margin: 0;
    }

    .accorion-heading, .footer-services {
        padding-left: 10px;
    }

    .child-banner {
        height: 500px;
        padding-left: 10px;
    }

    .details img {
        display: none;
    }

    .wine-title {
        font-size: 35px;
    }

    .container-part-content-right, .container-part-content-left {
        display: none;
    }

    .discover-our-wines {
        font-size: 40px;
    }

    .container-with-nav p, .container-with-nav div {
        padding: 0 5px;
    }
    .block-events {
        display: flex;
        flex-direction: column;
    }
    .block-events, .special-events {
        margin: 5px;
    }
    .wrapper-content-hero{
        padding-left: 0;
    }

    .ui-title_1 {
        font-size: 40px;
    }

    .footer-services {
        display: flex;
        flex-direction: column;
    }

    .accordion {
        display: none !important;
    }
}

button.orange-button {
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #c8693a;
    padding: 16px 25px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    border: 3px solid #c8693a;
}
button.orange-button:hover {
    background-color: #af572b;
    color: #000000;
    cursor: pointer;
}
.wine_price {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.wine_name {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.prev, .next {
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    display: flex;
    align-items: center;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.wine-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sliders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 360px;
    text-align: center;
    margin: auto 10px;
    padding-bottom: 30px;
}