.range-wines {
  margin: auto;
}
.mini-title {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  color: rgb(200, 105, 57);
  font-style: italic;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}
.white-wine-image {
  display: flex;
  margin-bottom: 100px;
}
.wine-details {
  background-image: url(https://res2.weblium.site/res/60115ce126eea30022ce1a18/60220fbc97d5fb0021953f7e_optimized_1920);
  background-size: cover;
  background-position: 80.12% 43.66%;
  display: flex;
  justify-content: start;
}
.wine-title {
  position: relative;
  min-width: 320px;
  padding-top: auto;
  padding-bottom: auto;
  margin: auto;
}
.details {
  margin-top: 20px;
  margin-left: 50%;
  text-align: center;
  align-items: center;
}

.wine-photo {
  flex-direction: row;
  justify-content: space-around;
}
.buy-wines {
  text-align: center;
}
.price-wines {
  margin-top: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  text-align: center ;
  margin: 15px auto;
}
.price-wines p {
  font-family: "Rubik", sans-serif;
}
div.buttons {
  margin-bottom: 40px;
}
.buttons .buy-button {
  margin-left: 20%;
}
.branch-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.select-wine {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  padding-bottom: 55px;
  margin-top: 20px;
}
.buy-button {
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #c8693a;
  border-radius: 2px;
  text-decoration: none;
  padding: 16px 25px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}
.buy-button:hover {
  background-color: #af572b;
  color: #000000;
  cursor: pointer;
}
.history-wines {
  background-image: url(https://res2.weblium.site/res/60115ce126eea30022ce1a18/601a979c2353e100216c10d0_optimized_1200);
  background-size: cover;
  background-position: no-repeat 35.84% 57.55%;
  text-align: left;
  background-attachment: fixed;
  height: 600px;
  margin: auto 10px;
  padding: 30px 50px;
}
.all-buttons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-size: 100%;
}

.social-title {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100px;
  font-size: 84px;
  max-width: 100vw;
  line-height: 1.2;
  font-family: Prata, serif;
  font-weight: 400;
}
.text-history {
  margin-top: 20px;
  width: 400px;
  font-size: 16px;
  line-height: 1.6;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
}

.videohosting h3 {
  margin-top: 10px;
}

.details ul li, .text-wine, .details h2, .details {
  padding-top: 15px;
  padding-bottom: 15px;
}

.details img {
  margin: 10px auto;
}
.buy-wines {
  padding-top: 30px;
}
.buy-wines h2 {
  margin: 15px auto;
}

@media screen and (max-width: 500px) {
  .buy-button {
    padding: 3px auto;
    width: 80px;
    height: 30px;
    font-size: 8px;
    display: flex;
    align-items: center;
  }
  .child-banner {
    margin: auto;
  }
}