.range-wines {
<<<<<<< HEAD
  text-align: center;
}
.mini-title {
  display: flex;
  font-family: "Great Vibes", cursive;
  font-size: 28px;
  color: rgb(200, 105, 57);
  font-style: italic;
  font-weight: 300;
=======
    
    margin: auto;
}
.mini-title {
    
    font-family: "Great Vibes", cursive;
    font-size: 28px;
    color: rgb(200, 105, 57);
    font-style: italic;
    font-weight: 300;
    
     
>>>>>>> 5cf39d55ac71dca70386982b02aed77e0e7d0d60
}

img {
  max-width: 100%;
  display: block;
}
.white-wine-image {
  display: flex;
  margin-bottom: 100px;
}
.wine-details {
<<<<<<< HEAD
  background-image: url(https://res2.weblium.site/res/60115ce126eea30022ce1a18/60220fbc97d5fb0021953f7e_optimized_1920);
  background-size: cover;
  background-position: 80.12% 43.66%;
  padding-top: 300px;
}
.wine-title {
  position: relative;
  min-width: 320px;
  padding-top: 160px;
  padding-bottom: 90px;
  box-sizing: border-box;
  text-align: justify;
}
.details {
  margin-left: 50%;
}

.wine-photo {
  flex-direction: row;
}
=======
    background-image: url(https://res2.weblium.site/res/60115ce126eea30022ce1a18/60220fbc97d5fb0021953f7e_optimized_1920);
    background-size: cover;
    background-position: 80.12% 43.66%;
    display: grid;
  padding: 2rem;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  font: 500 100%/1.5 system-ui;
  max-width: 800px;
  
}
.wine-title {
    position: relative;
    min-width: 320px;
    padding-top: auto;
    padding-bottom:auto;
    margin: auto;
}
.details {
    margin-left: 50%;
           
    }

.wine-photo {
    flex-direction: row;
    justify-content: space-around;
}
.buy-wines {
    text-align: center;
}
.price-wines {
    margin-top: 16px;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.branch-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.select-wine {
    color: rgb(255,255,255);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 55px;
    margin-top: 20px;
    }
    .buy-button {
        text-align: center;
        display: inline-block;
        color: #fff;
        background-color: #c8693a;
        border-radius: 2px;
        text-decoration: none;
        padding: 16px 25px;
        font-family: "Rubik", sans-serif;
        font-weight: bold;
    }
    .buy-button:hover {
        background-color: #af572b;
        color: #000000;
        cursor: pointer;
    }
    .history-wines {
        background-image: url(https://res2.weblium.site/res/60115ce126eea30022ce1a18/601a979c2353e100216c10d0_optimized_1200);
        background-size: cover;
        background-position:no-repeat 35.84% 57.55%;
        text-align:left;
        height: 600px;
    }
>>>>>>> 5cf39d55ac71dca70386982b02aed77e0e7d0d60
