
/* there we have code for accordione beyond  */
.accordion {
	background-color: rgb(38,30,28);
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	overflow: hidden;
  }
  
  .active, .accordion:hover {
	background-color: rgb(2,105,57);
  }
  .active:hover{
	transform: scale(0.9); 
  }
  .panel {
	padding: 0 18px;
	height: 10vh;
	display: none;
	background-color:rgb(38,30,28);
	overflow: hidden;
  }
  .pasive{
	  opacity: .5;
  }
  .pasive:hover{
	  color:azure;
  }
/* there we have code for accordione above*/