

/* color for some text */

/* there we can add more headings with the some font-size */
.ui-title_1 {
	font-family: "Prata", serif;
	font-size: 84px;
}
/* code below set the photo on background  */
header {
	background-image: url('img/banner-first-page.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}

.header-block {
	height: 100vh;
}

.header-logo img{
	max-width: 100%;
	display: block;
}
.header-logo{
	max-width: 10%;
}


nav{
	position: sticky;
	top: 0;
	left: 0;
}
.container-menu {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.social-media, .menu{
	display: flex;
}

.nav__link {
	display: flex;
	font-size: 18px;
	font-family:"Rubic",  sans-serif;
	margin: 0 10px;
	padding: 10px 5px;
	color: #fff;
	text-decoration: none;
	
}

.wrapper-banner {
	font-family: "Prata",serif;
	position: static;
	display: flex;
	padding: 50vh 40vh 40vh 100vh;
	}
	
.special-events {
	display: inline-block;
	margin: 4vh;
	padding: 20vh 1vh;
}

.container_1 {
width: 40vh;
height: 40vh;
background-image: url(img/for-your-special-events.webp);
background-repeat: no-repeat;
background-size: cover;
}

.container_2 {
width: 40vh;
height: 40vh;
background-image: url(img/100-organic.webp);
background-repeat: no-repeat;
background-size: cover;
}

.container_3 {
width: 40vh;
height: 40vh;
background-image: url(img/selected-grape-values.webp);
background-repeat: no-repeat;
background-size: cover;
}
/* .footer-services {
	display:inline-block;
} */

.services {
	width: 20vw;
	height: 20vh;

	display: inline-block;
}

.instagram {

width: 40%;
margin: 0 auto;
font-size: 0;
text-align: center;
}


.insta-item {
width: 200px;
height: 200px;
display: inline-block;
margin: 4px;
font-size: 1rem;
}