

/* color for some text */
em {
	color: rgb(200,105,57);
}
/* there we can add more headings with the some font-size */
.ui-title_1 {
	font-size: 84px;
}
/* code below set the photo on background  */
header {
	background-image: url('img/banner-firstPage.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}

.header-block {
	height: 100vh;
}
nav{
	position: sticky;
	top: 0;
	left: 0;
}
.menu {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.493);
	display: inline-block;

}
.wrapper-banner {
position: static;
display: flex;
padding: 50vh 40vh 40vh 100vh;
}


.nav__link {
	display: inline-block;
	font-size: 18px;
	margin: 0 10px;
	padding: 10px 5px;
	color: #fff;
	text-decoration: none;

}

.cont1 {
	display: inline-block;
	margin: 4vh;
	padding: 20vh 1vh;
}

.container_1 {
width: 40vh;
height: 40vh;
background-image: url(img/forYourSpecialEvents.webp);
background-repeat: no-repeat;
background-size: contain;
}

.container_2 {
width: 40vh;
height: 40vh;
background-image: url(img/100-organic.webp);
background-repeat: no-repeat;
background-size: contain;
}

.container_3 {
width: 40vh;
height: 40vh;
background-image: url(img/selectedGrapeValues.webp);
background-repeat: no-repeat;
background-size: contain;
}
/* .footer-services {
	display:inline-block;
} */

.services {
	width: 20vw;
	height: 20vh;

	display: inline-block;
}

.instagram {

width: 40%;
margin: 0 auto;
font-size: 0;
text-align: center;
}


.insta-item {
width: 200px;
height: 200px;
display: inline-block;
margin: 4px;
font-size: 1rem;
}