*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background-color: rgb(38,30,28);
	color: #fff;
}

/* there we have code for accordione beyond  */
.accordion {
	background-color: rgb(38,30,28);
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	overflow: hidden;
  }
  
  .active, .accordion:hover {
	background-color: rgb(200,105,57); 
  }
  
  .panel {
	padding: 0 18px;
	height: 10vh;
	display: none;
	background-color:rgb(38,30,28);
	overflow: hidden;
  }

/* there we have code for accordione above*/

/* color for some text */
em {
	color: rgb(200,105,57);
}
/* there we can add more headings with the some font-size */
.ui-title_1 {
	font-size: 84px;
}
/* code below set the photo on background  */
header {
	background-image: url('img/banner-firstPage.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
.block-1 {
	height: 100vh;
}

.menu {
	display: inline-block;
}
.wrapper_banner {
	display: flex;
	justify-content: center;
	margin: 25vh;
}
nav {
background-color: rgba(0, 0, 0, 0.493);
}

.nav__link {
	display: inline-block;
	font-size: 18px;
	margin: 0 10px;
	padding: 10px 5px;
	color: #fff;
	text-decoration: none;

}

.cont1 {
	display: inline-block;
	margin: 4vh;
	padding: 20vh 1vh;
}

.container_1 {
width: 40vh;
height: 40vh;
background-image: url(img/forYourSpecialEvents.webp);
background-repeat: no-repeat;
background-size: contain;
}

.container_2 {
width: 40vh;
height: 40vh;
background-image: url(img/100-organic.webp);
background-repeat: no-repeat;
background-size: contain;
}

.container_3 {
width: 40vh;
height: 40vh;
background-image: url(img/selectedGrapeValues.webp);
background-repeat: no-repeat;
background-size: contain;
}

